<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/ORACLE_88%EA%B8%B0_1%EC%A3%BC%EC%B0%A8_%EC%B4%9D%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#수업 정리

```
ORACLE 88기 : 20250418 - 20250425
수업 내용 : 파이썬 기초 정리
```

##파이썬 버전확인

In [ ]:
import sys
print(sys.version)
# 파이썬 버전 3.11.12 확인

3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]

##여러가지 print 사용 방법

In [ ]:
print ("hello Pyhton!")
print ('hello Python!')
#파이썬은 "" 와 '' 을 구분하지 않으며 시작과 끝맺음을 동일하게 연결하면 가능

hello Pyhton!
hello Python!

In [ ]:
print (' I\'m a boy ')

 I'm a boy

만약 사용해야 할 시 escape 문자열로 사용이 가능하다
* 사용예시
  * '(사용문자\\)' '
  * '\n' : 줄바꿈
  * '\t' : 탭
  * 'etc' ...

In [ ]:
print ('hello','안녕하세요','Bon Jour')

#print() 함수는 아규먼트로 전달된 문자열을 화면에 출력
#print() 함수에 아규먼트가 여러개 전달되면 , 각각의 값들을 공백으로 연결하여 출력한다.
# hello√안녕하세요√Bon Jour

hello 안녕하세요 Bon Jour

`아규먼트(argument)` : 함수에게 전달되는 값

`√ `: 공백 (정리약속)

In [ ]:
print ( 1, 2, 3 )
print (1.242,14.242,5.12312)
# 문자열 출력 뿐만 아닌 float , int 인 숫자도 출력 가능

1 2 3
1.242 14.242 5.12312

In [ ]:
print ( 1 + 3 )
# 내부를 계산 이후 출력
# 1 + 3 -> print

4

In [ ]:
print ( 1 , '+' , 3 , '=' , 1+3)

1 + 3 = 4

`PlaceHolder` : 변수가 들어갈 공간 {}

`변수(Variable)` : 값을 저장하는 메모리 공간

In [ ]:
print ('{} + {} = {}'.format(1, 2 ,1+2))
#지정한 순서대로 값이 들어간다.
print ('{x} + {y} = {z}'.format(x=1, y=2 ,z=1+2))
#지정한 곳에 변수를 넣어서 진행도 가능하며 변수를 고정할시 위치는 상관없어짐

1 + 2 = 3
1 + 2 = 3

3.6부터 제공되는 문법
```
f'{변수} 문자열 {변수}
```

In [ ]:
x=10
y=20
print (type(x),type(y))
print (x, y ,x+y)
print (f'{x}+{y}={x+y}')
x,y=float(x),float(y)
print (f'{x}+{y}={x+y}')
#type이 정수 또는 실수 일때는 계산 가능

<class 'int'> <class 'int'>
10 20 30
10+20=30
10.0+20.0=30.0

In [ ]:
x,y=str(x),str(y)
print (type(x),type(y))
print (x ,y , x+y)
print (f'{x}+{y}={x+y}')

<class 'str'> <class 'str'>
10.0 20.0 10.020.0
10.0+20.0=10.020.0

print () 함수의 파라미터 (parameter)
* sep : Separator : 아규먼트와 아규먼트를 구분하는 구분자 . default = √
* end : 아규먼트를 출력 한 후 마지막에 첨부하는 문자열 . default = \n (줄바꿈)

In [ ]:
print ( 1, 2, 3 )
#1, 2, 3 사이 √ 포함
print ( 1, 2 , 3 ,sep = '√')
# default :공백을 √로 변경

1 2 3
1√2√3

In [ ]:
print ( 1, 2, 3)
print ( 5, 4, 6)
# end 줄바꿈이 적용되어 있어서 자동 줄바꿈

print ( 1, 2, 3 , end= '√')
print ( 4 ,5, 6 )

1 2 3
5 4 6
1 2 3√4 5 6

##파이썬의 자료형

숫자타입
* 정수 : int
* 실수 : float
* 문자열 : str
* 논리 : bool


```
명시적 타입 변환이 가능하다.
```

####책(정수형상수)

In [37]:
intData1=20   # 기존 10진법
octData=0o24  # 0o = 8진수
hexData=0x24  # 0x = 16진수
print (intData1,octData,hexData)

20 20 36

In [ ]:
x= int (124214.1241242)
# type은 int 로 나타나며 저장시 실수의 소수는 버림처리 되고 정수로 저장된다.
print (type(x))
print(x)

<class 'int'>
124214

In [ ]:
x= float(1)
# type은 float 으로 나타나며 저장시 정수와 소수까지 같이 할당
print (type(x))
print(x)

<class 'float'>
1.0

In [ ]:
x= str(1)
# type은 str 으로 나타나며 저장시 숫자의 역할이 사라지며 문자로 할당
print (type(x))
print(x)

<class 'str'>
1

In [ ]:
x= bool(1)
y= bool(0)
print (type(x))
print (type(y))
print(x,y)
x= bool(str(0))
y= bool(str())
print (type(x))
print (type(y))
print(x,y)

<class 'bool'>
<class 'bool'>
True False
<class 'bool'>
<class 'bool'>
True False

논리 저장시
* int , float
  * True : 0이 아닌 숫자
  * False =0
* str
  * True : 빈칸이 아닌 문자
  * False : 빈칸

In [ ]:
z=(x>y)
print(x,y,z)
#true >false

True False True

###연산자
* 할당연산자 (assignment operator)

* = : 오른쪽의 값을 왼쪽의 변수에 할당(저장)

산술연산자 (arithmetic operator)
* 종류 : + , - , * , / , ** , // , %
  * ** : 거듭제곱
  * // : 나눈 몫
  * % : 나눈 나머지

In [ ]:
x=10
y=3
print(f"{x}+{y}={x+y}")
print(f"{x}-{y}={x-y}")
print(f"{x}*{y}={x*y}")
print(f"{x}/{y}={x/y}")
print(f"{x}**{y}={x**y}")
print(f"{x}//{y}={x//y}")
print(f"{x}%{y}={x%y}")

10+3=13
10-3=7
10*3=30
10/3=3.3333333333333335
10**3=1000
10//3=3
10%3=1

문자열(str)에서 사용할 수 있는 산술 연산자
```
+ : concatenate : 문자열 이어붙이기
* : replicate : 문자열 복제
```

비교 연산자 , 논리 연산자
* 비교 연산자 : ==, != , > , >= , < , <=
* 논리 연산자 : and , or , not

In [ ]:
x , y = 100 , 200

print (x == y ) #equl to
print (x != y ) # not equal to
print (x>=y)
print (x>y) # greater than
print (x<=y)
print (x<y) # less than

False
True
False
False
True
True

In [ ]:
print ((x>50) and (x<150))
print ((x>100) and (x < 200))
print ((x>100) or (x<200))

True
False
True

복합 할당 연산자
* 종류 : +=,-=,*=, /=,**= , //= ,%= , ...
* 산술 연산자와 할당 연산자를 합쳐서 만들어진 연산자

In [ ]:
x=10
print(x)
x+=1   # x에 +1
print(x)
x-=1   # x에 -1
print(x)
x*=2  #  x에 * 2
print(x)
x/=2  #  x에 / 2
print(x)
x**=2 #  x에 2 제곱
print(x)
x//=2 #  x에 2로 나눈 몫
print(x)
x%=3  #  x에 3으로 나누고 나머지 값
print(x)

10
11
10
20
10.0
100.0
50.0
2.0

###콘솔 입력

In [ ]:
name = input("이름을 입력해주세요 : ")
print(type(name))
print(f"{name}님 안녕하세요 즐거운 하루 되세요. ")

이름을 입력해주세요 : 이승엽
<class 'str'>
이승엽님 안녕하세요 즐거운 하루 되세요.

######연습문제 :
* 섭씨 온도를 입력 받아 , 화씨 온도로 변환 후 출력하는 코드를 작성하시오.
* 화씨 = 섭씨 * 1.8 + 32
* 섭씨 = celcius
* 화씨 = fahrenheit

In [ ]:
celcius = float(input("현재 온도(섭씨) 를 입력해주세요 : "))
fahrenheit = celcius * 1.8 +32
print (f'입력해주신 현재 온도 {celcius} ℃ 를 화씨 온도로 변환하면 {fahrenheit} ℉ 가 됩니다. ' )