<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/Python_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python의 자료형(Python Data Type)

* 숫자 타입
  * 정수 : int
  * 실수 : float
* 문자열 타입 : str
* 논리 타입 : bool

In [180]:
#변수 n에 정수 123을 저장하고 출력
n= int(123.12421442421)
print(n)
print(type(n))
#변수 n의 타입 출력
n= 123.1242142
print(int(n))
print(type(n))
#다른 n이지만 숫자에 정수를 입힌 것과
#실수를 출력할때만 정수로 출력한 것의 차이

123
<class 'int'>
123
<class 'float'>

In [ ]:
pi=3.141592  # 변수 pi에 값 3.141592를 저장
print(pi) # 변수 pi에 할당된 값을 출력
print(type(pi)) #변수 pi에 할당된 값의 타입을 출력

3.141592
<class 'float'>

In [ ]:
s= "안녕하세요"
print(s)
print(type(s))

안녕하세요
<class 'str'>

논리타입 : 참(True) 또는 거짓(False)을 저장하는 타입.

파이썬의 예약어는 대문자와 소문자를 구분한다.

In [ ]:
b= True
print (b)
print(type(b))

True
<class 'bool'>

In [ ]:
b= 10<5
print(b)

False

# 명시적 타입 변환(explicit type conversion)

* `int(argument)` : 아규먼트로 전달된 값을 정수로 변환해주는함수
  *  문자열 -> 정수
  *  실수 -> 정수
  
* `float(argument)` : 아규먼트로 전달된 값을 실수로 변환해주는함수
  *  문자열 -> 실수
  *  정수 -> 실수
* `str(argument)` : 아규먼트로 전달된 값을 문자열로 변환해주는함수
  *  정수 , 실수 , ... -> 문자열

In [ ]:
num_str= "1004"
print(type(num_str))  #> str
num= int(num_str) #문자열을 정수로 변환해서 변수 num에 저장(할당)
print(type(num)) #> int
num= float(num_str)
print(type(num)) #> float

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
pi_int=int(pi)
pi_str=str(pi)
pi_float=float(pi)
print(pi_int)
print(type(pi_int))
print(pi_str)
print(type(pi_str))

3
<class 'int'>
3.141592
<class 'str'>

# 연산자(Operator)

##할당 연산자(assignment operator)

* `=`: 오른쪽의 값을 왼쪽의 변수에 할당(저장)

##산술 연산자(arithmetic operator)

* 종류 : `+, - , * , / , ** , // , % `
  * ** = 거듭제곱
  * // = 나눈 몫
  * % = 나눈 나머지 값
* 산술 연산자는 일반적으로 숫자 타입(int,float)의 값에서 사용 가능.
* 일부 산출 연산자는 문자열과 같은 타입에서도 사용 가능.

In [ ]:
x= 10
y= 3
# == 동일한 의미
print(f'{x}+{y}={x+y}')
print(f'{x}-{y}={x-y}')
print(f'{x}*{y}={x*y}')
print(f'{x}/{y}={x/y}') #무한소수기 때문에 오차가 있음.
print(f'{x}의 {y} 제곱={x**y}') # 거듭제곱 연산자
print(f'{x}을 {y}으로 나눈 몫={x//y}') # 몫 연산자
print(f'{x}을 {y}으로 나눈 나머지 값={x%y}') #나머지 연산자

10+3=13
10-3=7
10*3=30
10/3=3.3333333333333335
10의 3 제곱=1000
10을 3으로 나눈 몫=3

'10을 3으로 나눈 나머지 값=1'

문자열(str)에서 사용할 수 있는 산술연산자

*  `+` : concatenate : 문자열 이어붙이기.
*  `*` : replicate : 문자열 복제.

In [ ]:
'hello'+'Python'  # 문자열 + 문자열
#하나의 코드셀에선 마지막의 한줄만 print 문이 없어도 사용 가능

'helloPython'

In [ ]:
'hello'*10 # 문자열 x 정수

'hellohellohellohellohellohellohellohellohellohello'

In [ ]:
'안녕'+ '1'

'안녕1'

In [ ]:
'안녕' + str(int(float(1)))

'안녕1'

## 비교 연산자 , 논리 연산자
* 비교 연산자 : `== , != , > , >= , < , <= `  
* 논리 연산자 : `and , or , not`

In [ ]:
x , y = 100 , 200

print(x==y) # equal to
print(x!=y) # not equal to
print(x>=y)
print(x>y) # greater than
print(x<=y)
print(x<y) # less than

False
True
False
False
True
True

In [ ]:
print (( x > 50 ) and ( x < 150 ))
print (( x > 100 ) and ( x < 200 ))
print (( x > 100 ) or ( x < 200 ))

print(x and y >x+y)
print((x or y) >x+y)
print(x or y >x+y)
print(not x and y >x+y)

True
False
True
False
False
100
False

## 복합 할당 연산자
* 종류 : `+= , -= , *= , /= , **= , //= , %= , ...`
* 산술 연산자와 할당 연산자를 합쳐서 만들어진 연산자.

In [ ]:
x = 10
print(x)
x = x + 1
print (x)

10
11

In [ ]:
x = 10
print(x)
x += 1 # 1. x (왼쪽) + 1 (오른쪽) 을 우선 계산 2. (1.)의 결과를 변수 x에 저장
print(x)

10
11

# 콘솔 입력

In [179]:
name = input('이름을 입력 >>> ')
print(type(name))
print(f'안녕하세요 , {name}!')

이름을 입력 >>> 승이
<class 'str'>
안녕하세요 , 승이!

연습문제 :
* 섭씨 온도를 입력받아서 , 화씨 온도로 변환 후 출력하는 코드를 작성.
* `화씨 = 섭씨 * 1.8 + 32 `

In [178]:
celcius= float(input("현재 온도를 입력해주세요 : "))
fahrenheit= celcius * 1.8 + 32
print(f"현재온도 {celcius}℃를 화씨로 변환하면 { fahrenheit } ℉ 입니다.")

현재 온도를 입력해주세요 : 15
현재온도 15.0℃를 화씨로 변환하면 59.0 ℉ 입니다.

https://github.com/JakeOh/202504_itwill_oracle88