<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/Python_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#While 반복문

##문법

```
[초기화 문장]
while 조건식 :
    조건식을 만족하는 동안에 반복할 코드 블록
    [조건식의 결과를 바꿀 수 있는 문장]
```

* `while 조건식` 다음에는 반드시 콜론(:)을 써야 함.
* 조건식을 만족하는 동안 블록 내부를 실행.
* 조건식의 결과가 false가 되면 반복을 멈춤.

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [ ]:
n=1 #초기화문장
while n<6: #변수 n의 값이 6보다 작은 동안에
    print(n) #변수 n의 값을 출력
    n+=1 # n=n+1

1
2
3
4
5

5부터 1씩 감소시키면서 1까지 한 줄씩 출력

In [ ]:
n=5
while n>0:
    print(n)
    n -=1

5
4
3
2
1

짝수를 출력하되 10이하까지 출력

In [ ]:
n=2
while n<=10:
    print(n)
    n +=2

2
4
6
8
10

In [ ]:
n=2
while n<=10: # n의 값이 10 이하인 동안에
    if n%2==0: #n이 짝수이면
        print(n) #n을 출력
    n+=1 # n의 값을 1 증가

2
4
6
8
10

구구단 9단 출력
```
9 x 1 = 9
9 x 2 = 18
...
9 x 9 = 81
```

In [ ]:
n=float(input("원하는 숫자를 입력하세요. : "))
count=1

while count<=9:
    print(f"{n} x {count} = {n * count}")
    count +=1

원하는 숫자를 입력하세요. : 1.4
1.4 x 1 = 1.4
1.4 x 2 = 2.8
1.4 x 3 = 4.199999999999999
1.4 x 4 = 5.6
1.4 x 5 = 7.0
1.4 x 6 = 8.399999999999999
1.4 x 7 = 9.799999999999999
1.4 x 8 = 11.2
1.4 x 9 = 12.6

## 중첩 반복문

In [ ]:
n=1

while n<10:
    print(f"-----{n}단-----")
    count=1
    while count<=9:
        print(f"{n} x {count} = {n * count}")
        count +=1
    n+=1

-----1단-----
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
-----2단-----
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
-----3단-----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-----4단-----
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
-----5단-----
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
-----6단-----
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
-----7단-----
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
-----8단-----
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
-----9단-----
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
n=1

while n<10:
    print(f"-----{n}단----- , -----{n}단----- , -----{n}단-----")
    count=1
    while count<=9:
        print(f"{n} x {count} = {n * count},      {n+1} x {count} = {(n+1) * (count)} ,       {n+2} x {count} = {(n+2) * (count)}")
        count +=1
    n*=3

-----1단----- , -----1단----- , -----1단-----
1 x 1 = 1,      2 x 1 = 2 ,       3 x 1 = 3
1 x 2 = 2,      2 x 2 = 4 ,       3 x 2 = 6
1 x 3 = 3,      2 x 3 = 6 ,       3 x 3 = 9
1 x 4 = 4,      2 x 4 = 8 ,       3 x 4 = 12
1 x 5 = 5,      2 x 5 = 10 ,       3 x 5 = 15
1 x 6 = 6,      2 x 6 = 12 ,       3 x 6 = 18
1 x 7 = 7,      2 x 7 = 14 ,       3 x 7 = 21
1 x 8 = 8,      2 x 8 = 16 ,       3 x 8 = 24
1 x 9 = 9,      2 x 9 = 18 ,       3 x 9 = 27
-----3단----- , -----3단----- , -----3단-----
3 x 1 = 3,      4 x 1 = 4 ,       5 x 1 = 5
3 x 2 = 6,      4 x 2 = 8 ,       5 x 2 = 10
3 x 3 = 9,      4 x 3 = 12 ,       5 x 3 = 15
3 x 4 = 12,      4 x 4 = 16 ,       5 x 4 = 20
3 x 5 = 15,      4 x 5 = 20 ,       5 x 5 = 25
3 x 6 = 18,      4 x 6 = 24 ,       5 x 6 = 30
3 x 7 = 21,      4 x 7 = 28 ,       5 x 7 = 35
3 x 8 = 24,      4 x 8 = 32 ,       5 x 8 = 40
3 x 9 = 27,      4 x 9 = 36 ,       5 x 9 = 45
-----9단----- , -----9단----- , -----9단-----
9 x 1 = 9,      10 x 1 = 10 ,       11 x 1 = 11
9 x 2 = 18,      10 x 2 = 20 ,       11 x 2 = 22
9 x 3 = 27,      10 x 3 = 30 ,       11 x 3 = 33
9 x 4 = 36,      10 x 4 = 40 ,       11 x 4 = 44
9 x 5 = 45,      10 x 5 = 50 ,       11 x 5 = 55
9 x 6 = 54,      10 x 6 = 60 ,       11 x 6 = 66
9 x 7 = 63,      10 x 7 = 70 ,       11 x 7 = 77
9 x 8 = 72,      10 x 8 = 80 ,       11 x 8 = 88
9 x 9 = 81,      10 x 9 = 90 ,       11 x 9 = 99

##break , continue

* `break` : 반복(iteration)을 종료. 중첩반복문에 포함되어 있을 시, break가 포함된 가장 가까운 반복문만 종료.
* `continue` : 다음의 반복(iteration)을 계속 수행 **continue 아래 쪽의 문장들은 건너뛰고** 다음 반복을 수행.

In [ ]:
n = 1
while n<=5:
    if n==3:
        break;
    print(n)
    n+=1

1
2

In [ ]:
n = 0
while n<5:
    n+=1
    if n==3:
        continue;
    print(n)

1
2
4
5

#과제문제

In [ ]:
#1번

a="*"
n=1
while n<6:
    print(f"{a*n}")
    n +=1

*
**
***
****
*****

In [ ]:
#2번

a="*"
n=5
while n>0:
    print(a*n)
    n -=1

*****
****
***
**
*

In [ ]:
#3번

a="*"

n=1
while n<5:
    print(a*n)
    n +=1
while n>0:
    print(a*n)
    n -=1

*
**
***
****
*****
****
***
**
*

In [ ]:
#3-1번

a="*"

n=0
while n<5:
    n +=1
    print(a*n)
while n>0:
    n -=1
    print(a*n)

*
**
***
****
*****
****
***
**
*

In [ ]:
#3-2번

a="*"
n=0

if n<5 :
    while n<5:
        n +=1
        print(a*n)

if n==5:
    while n>0:
        n -=1
        print(a*n)

*
**
***
****
*****
****
***
**
*

In [ ]:
#3-3번

a="*"
n=0
up=True

while up==True:
    n +=1
    print(a*n)
    if n==5:
        up=False
while up==False:
    n -=1
    print(a*n)
    if n==0:
        break;

*
**
***
****
*****
****
***
**
*

In [ ]:
#4번

n=2

while n<10:
    print("----------")
    count=1
    while count<=n:
        print(f"{n} x {count} = {n * count}")
        count +=1
    n+=1

----------
2 x 1 = 2
2 x 2 = 4
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81