<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/python17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   github의 [exam.csv 파일](https://github.com/JakeOh/202504_itwill_oracle88/blob/main/exam.csv)을 다운로드.
*   Colab 연결(세션 활성화).
*   Colab에 Google Drive 마운트(mount, 연결).
*   개인 계정의 Google Drive에 exam.csv 파일을 업로드.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path='/content/drive/MyDrive/Colab Notebooks/exam.csv'

1. exam.csv 파일을 open
1. 파일의 첫번째 줄은 컬럼 이름들이기 때문에, 첫번째 줄은 읽고 무시.
1. 파일의 두번째 줄부터 파일 끝(EOF)까지 4번 내용을 반복.
1

. 각 줄에서 읽은 내용을 쉼표(,)로 분리한 리스트를 빈 리스트에 append.
> `[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ...]`

In [ ]:
with open(file_path) as f:
    result=[]
    for line in f:
        result.append(line.strip().split(','))

result.remove(result[0])
print(result)

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

1. 4번에서 만들어진 2차원 리스트는 문자열들을 저장하고 있는 리스트이기 때문에, 리스트의 모든 값들을 정수(int)로 변환
> `[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], ...]`

In [ ]:
for x in result:
    for y in x:
        y=int (y)

print(type(y))
print(y)


print(type(result[1][3]))
print(result[1][3])

print(result)

<class 'int'>
58
<class 'str'>
97
[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

In [ ]:
for x in range(len(result)):

    for y in range(len(result[x])):
        result[x][y]=int(result[x][y])

<class 'int'>
<class 'int'>
[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58], [5, 2, 25, 80, 65], [6, 2, 50, 89, 98], [7, 2, 80, 90, 45], [8, 2, 90, 78, 25], [9, 3, 20, 98, 15], [10, 3, 50, 98, 45], [11, 3, 65, 65, 65], [12, 3, 45, 85, 32], [13, 4, 46, 98, 65], [14, 4, 48, 87, 12], [15, 4, 75, 56, 78], [16, 4, 58, 98, 65], [17, 5, 65, 68, 98], [18, 5, 80, 78, 90], [19, 5, 89, 68, 87], [20, 5, 78, 83, 58]]

In [ ]:
for x in range(len(result)):

    for y in range(len(result[x])):
        print(result[x][y])
        print(type((result[x][y])))

In [ ]:
print(result)

[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58], [5, 2, 25, 80, 65], [6, 2, 50, 89, 98], [7, 2, 80, 90, 45], [8, 2, 90, 78, 25], [9, 3, 20, 98, 15], [10, 3, 50, 98, 45], [11, 3, 65, 65, 65], [12, 3, 45, 85, 32], [13, 4, 46, 98, 65], [14, 4, 48, 87, 12], [15, 4, 75, 56, 78], [16, 4, 58, 98, 65], [17, 5, 65, 68, 98], [18, 5, 80, 78, 90], [19, 5, 89, 68, 87], [20, 5, 78, 83, 58]]

1. 수학 점수들로만 이루어진 1차원 리스트를 만듦.
> `[50, 60, ...]`

In [ ]:
math=[]
for x in result:
    math.append(x[2])
print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

1. 수학 점수의 최댓값, 최솟값, 평균 출력.

In [ ]:
print(f"최대값은 {max(math)} 입니다 .")
print(f"최소값은 {min(math)} 입니다 .")

최대값은 90 입니다 .
최소값은 20 입니다 .

1. 1반 학생들의 수학 점수 총점, 평균, 최댓값, 최솟값 출력

In [ ]:

result_class1=[]
for x in result:
    if x[1]==1:
        result_class1.append(x)
print(result_class1)
class1_math=[]
for x in result_class1:
    class1_math.append(x[2])
max_math=max(class1_math)
min_math=min(class1_math)
sum_math=sum(class1_math)
avg_math=sum_math/len(class1_math)
print(f"최대값은 {max_math} 입니다 .")
print(f"최소값은 {min_math} 입니다 .")
print(f"총점은 {sum_math} 입니다 .")
print(f"평균은 {avg_math} 입니다 .")

[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58]]
최대값은 60 입니다 .
최소값은 30 입니다 .
총점은 185 입니다 .
평균은 46.25 입니다 .