<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/Python_10_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#오류(Error)의 종류

In [2]:
#prnt('안녕하세요')
# > NameError: name 'prnt' is not defined
# ----> 1 prnt('안녕하세요') 1번라인에서 문제 발생

print('안녕하세요.')

안녕하세요.

In [4]:
#n = int('100.')
# > ValueError: invalid literal for int() with base 10: '100.'

n = int('100')

![image.png]()

----> 1 n = int('100.')
ValueError: invalid literal for int() with base 10: '100.'   유효하지 않은 잘못된 문자열 int에서/ 사용된

In [6]:
print('200'+100)
# > TypeError: can only concatenate str (not "int") to str
print(100+'200')
# > TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
numbers=[1,2,3,4,5]

print(numbers[5])
# > IndexError: list index out of range

#print(numbers[4])

IndexError: list index out of range

프로그램의 코드를 실행 중에 오류(error)가 발생하는 경우 해결 방법

    * 오류가 발생한 코드 위치와 그 원인을 찾아서 , 오류가 발생하지 않도록 코드를 수정
    * 오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행될 수 있도록 처리 .

In [25]:
x=int(input('첫번째 청수 입력   >>>' ))
y=int(input('두번째 청수 입력   >>>' ))
z=x+y
print('x + y =',z)
# ValueError: invalid literal for int() with base 10: '20.'
# 잘못입력해서 문제가 되어도 되지 않게

첫번째 청수 입력   >>>20.

ValueError: invalid literal for int() with base 10: '20.'

#try-except 구문

```
try:
    (1) 실행할 코드 블록                             <
except [오류 이름 [as 변수]] :                       <  필수
    (2) 에러가 발생했을 때 실행할 코드 블록          <
[
else:
    (3) try 블록이 에러 없이 정상적으로 모두 수행 됐을 때 실행할 코드 블록
]
[
finally:
    (4) 에러 유무에 상관없이 항상 실행할 코드 블록
]
```

* try-except 구문의 실행 순서
    * 에러가 발생하지 않는 경우 : (1) -> (3) -> (4)
    * 에러가 발생하는 경우 : (1) -> (2) -> (4)
* except 에서 에러 이름을 생략하면 모든 종류의 에러를 처리
* except 에서 에러 이름을 지정하면 지정한 에러만 처리할 수 있고 그 외 에러는 처리 불가
* 처리해야할 에러 종류가 여러개 있다면 except 절을 여러개 사용할 수도 있음.

In [33]:
try:
    x = int (input("첫번째 정수 입력 : "))
    y = int (input("두번째 정수 입력 : "))  # 3.0 넣었을시 ValueError: invalid literal for int() with base 10: '3.'
    print(f' {x} + {y} = {x + y } ')
    print(f' {x} - {y} = {x - y } ')
    print(f' {x} x {y} = {x * y } ')
    print(f' {x} / {y} = {x / y } ')  # 0을 넣었을 시  ZeroDivisionError: division by zero
except:
    print("오류 발생1")
# except(ZeroDivisionError):
#     print("값에 0을 넣었습니다.")
# except(ValueError):
#     print("값을 정수로 입력하지 않았습니다.")

첫번째 정수 입력 : 10
두번째 정수 입력 :
오류 발생

In [42]:
try:
    x = int (input("첫번째 정수 입력 : "))
    y = int (input("두번째 정수 입력 : "))  # 3.0 넣었을시 ValueError: invalid literal for int() with base 10: '3.'
    print(f' {x} + {y} = {x + y } ')
    print(f' {x} - {y} = {x - y } ')
    print(f' {x} x {y} = {x * y } ')
    print(f' {x} / {y} = {x / y } ')  # 0을 넣었을 시  ZeroDivisionError: division by zero
except ZeroDivisionError:
    print("값에 0을 넣었습니다.")
except ValueError:
    print("입력값이 잘못됐습니다.")
# else:
#     print("사칙연산 성공")
# finally:
#     print('코드 셀 종료')

첫번째 정수 입력 : 1
두번째 정수 입력 : 1
 1 + 1 = 2
 1 - 1 = 0
 1 x 1 = 1
 1 / 1 = 1.0

#연습문제

사용자에게 숫자(실수)를 입력 시키게 한다.

* 사용자가 입력한 문자열이 숫자로 변환될 수 있는 경우이면 , 그 숫자를 출력하고 종료
* 사용자가 입력한 문자열이 숫자로 변환될 수 없는 경우라면 , 숫자를 다시 입력하라고 반복 출력하고 입력 과정을 반복.

In [18]:
import time
t=0
while True:

    try:

        a=float(input("숫자를 입력해주세요 : "))
        break
    except:
        print("입력 오류 입력 오류.")
        time.sleep(0.5)
        print("삐 삐 삐!")
        time.sleep(0.5)
        print("삐 삐 삐!")
        time.sleep(0.5)
        if t<=2:
            print("틀리지말고 잘 입력 해보세요.. 좀")
            t +=1

        elif t<=4:
            print("ㅋㅋ 진짜 일부로 계속 틀리네 안해 안해 ㅅㄱ")
            break
        t +=1



print(f'입력한 숫자는 : {a} 입니다. ')

숫자를 입력해주세요 : `
입력 오류 입력 오류.
삐 삐 삐!
삐 삐 삐!
틀리지말고 잘 입력 해보세요.. 좀
숫자를 입력해주세요 : `
입력 오류 입력 오류.
삐 삐 삐!
삐 삐 삐!
틀리지말고 잘 입력 해보세요.. 좀
숫자를 입력해주세요 : `
입력 오류 입력 오류.
삐 삐 삐!
삐 삐 삐!
ㅋㅋ 진짜 일부로 계속 틀리네 안해 안해 ㅅㄱ
입력한 숫자는 : 4.0 입니다.