<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/Python_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object)**

* 객체 : 숫자(int,float), 문자열(str),논리값(True,False),list,dict,tuple, ...
* 함수에 아규먼트로 전달이 가능.
* 함수가 리턴해주는 값
* 함수는 변수에 할당할 수 있음.
* 함수의 아규먼트로 함수를 전달할 수 있음.
* 함수의 반환값으로 함수를 리턴할 수 있음.
* 함수 내부에서 또 다른 함수를 선언할 수 있음.

In [1]:
x = 1 # 정수 1을 변수 x에 할당했다.

In [2]:
result = len('안녕')  # len() 함수는 정수를 리턴.
print(result)

2

In [3]:
def double(x):
    return 2 * x

In [4]:
result=double(5) # 함수 double을 호출하고 그 반환값을 변수 result에 저장
print(result)

10

In [5]:
print(double(3))

6

In [6]:
print(double) #double이라는 이름의 함수 객체를 문자열로 표현해서 출력
#함수를 호출한게 아님.

<function double at 0x7c660561c040>

## 함수를 변수에 할당

In [7]:
twice=double    # 이 문장과   -<      함수 호출이 아님
                                    # function 객체를 twice에 저장한 것 .
                # result =double(5) 이 문장은 다른 문장임 .

In [8]:
print(twice)

<function double at 0x7c660561c040>

In [9]:
print(twice(10))

20

##아규먼트로 함수를 전달받는 함수

In [10]:
def calculator(x,y,fn):
    result=fn(x,y)
    return result

fn = 함수 이기에

result=fn(x.y)가 가능  = 괄호가 되어있으니 함수가 가능.

In [11]:
def plus(x,y):
    return x+y

In [12]:
def minus(x,y):
    return x-y

result=calculator(1,2,minus)   # minus <-  이건 함수자체를 호출한 것  이 함수를 쓸것이다. 라는걸 애초에 함수로 만들었음.
print(result)

-1

In [13]:
result=calculator(1,2,minus)   # minus <-  이건 함수자체를 호출한 것  이 함수를 쓸것이다. 라는걸 애초에 함수로 만들었음.
print(result)

-1

In [14]:
def is_greater(x,y):
    return x > y

result = calculator(1,2,is_greater)
print(result)

False

## 내부 함수 , 함수를 리턴하는 함수

내부 함수 (inner function ) , 지역 함수 (local function) :
* 함수 내부에서 선언된 함수.
* 선언된 함수 내부에서만 호출할 수 있음.
* 선언된 함수 외부에서는 호출할 수 없음.
* 외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음!

In [15]:
def make_incrementor (n): #증가시키다.  # 전역 함수
    #내부 함수
    #지역 함수
    def add_n(x):
        return x + n   # x함수를 사용할 때 바깥쪽의 n을 사용할 수 있음. 이해감?
        # 긍께 함수 return x는 내부함수인데 n은 외부함수로 들어오는건데
        #x는 내부함수에서만 사용하는 것이고 n은 외부에서 사용되는걸
        # 짭죠 , n은 내부각각에서 다 사용이 가능.
    #함수 객체를 리턴.
    return add_n    # <- 리턴을 함수이름만 리턴함 #바깥에서 호출할 수 있어짐.(?)

In [16]:
add_n(10)   #<-  지역함수기때문

NameError: name 'add_n' is not defined

In [17]:
increase_by_2=make_incrementor(2)

In [18]:
print(increase_by_2)
result=increase_by_2(10)
print(result)

<function make_incrementor.<locals>.add_n at 0x7c6604c9ae80>
12

In [19]:
plus_10=make_incrementor(10)

In [20]:
print(plus_10(10))

20

In [21]:
print(make_incrementor(5)(10))

15

#연습

In [ ]:
def make_power(n):
    def test(x):

        return x**n
    return test

In [ ]:
square =make_power(2)
cube =make_power(3)

print(square(5))
print(cube(2))

In [ ]:
def make_operator(op):
    if op=='add':
        def calc(x,y):
            return x+y
    elif op=='mul':
        def calc(x,y):
            return x*y
    return calc

In [ ]:
def make_operator2(op):
    def calc(x,y):
        if op=='add':
            return x+y
        elif op=='mul':
            return x*y
    return calc

In [ ]:
adder = make_operator("add")
multiplier = make_operator("mul")
adder2 = make_operator2("add")
multiplier2 = make_operator2("mul")


print(adder2(3, 4))      # 👉 7
print(multiplier2(3, 4)) # 👉 12

In [ ]:
def make_filter(conditon):
    def filter_list(lst):
        for x in lst:

            if conditon=='even':
                if lst %2==0:
                    return lst
            if conditon=='odd':
                if lst %2==1:
                    return lst
            if conditon=='positive':
                if lst < 0:
                    return lst

            if conditon=='negative':
                if lst > 0:
                    return lst

    return filter_list

In [ ]:
a=make_filter('even')
print((4))

In [ ]:
even_filter = make_filter("even")
print(even_filter([1, 2, 3, 4, 5]))     # 👉 [2, 4]

neg_filter = make_filter("negative")
print(neg_filter([3, -1, -5, 2, 0]))    # 👉 [-1, -5]

#람다 표현식(lambda expression)

##문법
```
lambda parma1, param2 , param3 , ...expression (식)
```

* 이름이 없는 함수
* 함수 이름 선언 없이, 함수 파라미터 선언과 반환값 또는 반환 식으로 함수를 정의(선언)하는 것
* 람다 표현식은 변수에 할당할 수 있음. 함수의 아규먼트로 전달 할 수 있음.

###기존 함수 선언

In [22]:
def plus_one1(x):
     return x +1

###람다 표현식

In [23]:
plus_one=lambda x : x+1
print(plus_one)

print(plus_one(1))

<function <lambda> at 0x7c661d003600>
2

###lambda 를 아규먼트로 전달하는 예

* filter : 조건을 만족하는 원소들로 이루어진 리스트를 리턴.
* map : 원소들을 일정한 규칙에 따라서 다른 값으로 변환 (매핑).


    [1,2,3,4,5]

    filter : 홀수 -> [1,3,5]
    원본 리스트를 필터를 통해 리턴

    map : 제곱 [1,4,9,16,25]
    값들을 규칙에 의해 변환

###filter 구현

In [24]:
def my_filter(iterable,function):
    """
    iterable의 원소들 중에서 함수 function의 결과가 True가 되는 원소들로 이루어진 리스트를 리턴

    @param iterable : list 또는 tuple .
    @param function : argument는 1개 이면서 True/False를 리턴하는 함수 .
    @return : 리스트(list)
    """
    # result=[x for x in iterable if fuction(x)]

    result = [] # 조건에 맞는 원소들을 저장하기 위한 빈 리스트
    for x in iterable : #iterable 의 모든 원소들을 저장하기 위한 빈 리스트
        if function(x) : #함수 호출 결과가 True 이면 (조건 만족)
            result.append(x) #결과 리스트에 그 원소를 추가
    return result # 리스트를 리턴

함수 확인

In [33]:
numbers=[random.randrange(10) for x in range(10)]
print(numbers)
evens= my_filter(numbers,lambda x : x % 2 == 0)
print(list(evens))

[0, 2, 7, 9, 7, 7, 8, 2, 2, 9]
[0, 2, 8, 2, 2]

함수 확인2

In [39]:
languages = ['Python' ,'SQL' ,'Java','JavaScript', 'HTML']

# languages의 문자열들 중에서 길이가 5보다 큰 문자열들로 이루어진 리스트를 my_filter를 사용해서 만들기
result=my_filter(languages,lambda x : len(x) >= 5  )
print(result)

['Python', 'JavaScript']

### map 구현

In [70]:
def my_mapper(iterable,fn):
    """
    iterable의 원소를 함수 fn의 아규먼트로 전달했을 때 그 리턴값을 리스트에 추가해서 리턴.
    @param iterable: list 또는 tuple
    @param fn : 아규먼트가 1개이고 , 1개의 값을 리턴하는 함수.
    @return : 리스트.
    """
    result=[] #매핑된 값들을 저장할 빈 리스트
    for x in iterable: #iterable 의 원소들을 순서대로 반복하면서
        result.append(fn(x)) # 함수 fn()의 리턴값을 리스트에 추가.
    return result

# result = [fn(x) for x in iterable]




def my_filter(iterable,function):
    """
    iterable의 원소들 중에서 함수 function의 결과가 True가 되는 원소들로 이루어진 리스트를 리턴

    @param iterable : list 또는 tuple .
    @param function : argument는 1개 이면서 True/False를 리턴하는 함수 .
    @return : 리스트(list)
    """
    # result=[x for x in iterable if fuction(x)]

    result = [] # 조건에 맞는 원소들을 저장하기 위한 빈 리스트
    for x in iterable : #iterable 의 모든 원소들을 저장하기 위한 빈 리스트
        if function(x) : #함수 호출 결과가 True 이면 (조건 만족)
            result.append(x) #결과 리스트에 그 원소를 추가
    return result # 리스트를 리턴

In [71]:
numbers=[random.randrange(100) for _ in range(10)]

print(numbers)

# 짝수 -> 'even' , 홀수 -> , 'odd'

result=my_mapper(numbers,lambda x : 'even' if x % 2 == 0 else 'odd')

print(result)

[50, 73, 71, 68, 42, 40, 64, 41, 66, 12]
['even', 'odd', 'odd', 'even', 'even', 'even', 'even', 'odd', 'even', 'even']

In [157]:
languages = ['Python' ,'SQL' ,'Java','JavaScript', 'HTML']

# languages의 문자열들 중에서 길이가 5보다 큰 문자열들로 이루어진 리스트를 my_mapper를 사용해서 만들기
result=my_mapper(languages,lambda x :len(x)  )
print(result)

[6, 3, 4, 10, 4]

##예제

###1

In [35]:
# def add(x,y):
#    return  x + y

add = lambda x , y : x + y
minus = lambda x , y : x - y

print(add(4,5))
print(minus(4,5))

9
-1

###2

함수 `calculator()`의 아규먼트로 람다 표현식을 전달

In [36]:
result = calculator( 1 , 2, lambda x , y : x + y )
print(result)
result = calculator( 1 , 2, lambda x , y : x - y )
print(result)
result = calculator( 1 , 2, lambda x , y : x * y )
print(result)

3
-1
2

###3

In [37]:
import random
numbers=[random.randrange(10) for x in range(10)]
print(numbers)

[3, 6, 8, 5, 2, 6, 4, 4, 3, 5]

리스트 numbers에서 짝수들만 필터링한 리스트.

In [29]:
# filter(function or None ,iterable)
#변수( list나 튜플 같은 ) 들의 원소를 함수에 아규먼트로 전달 했을 시 , True를 리턴하는 값들로 이루어진 filter 객체를 리턴.
# ex) evens=filter(lambda x : x % 2 == 0 , numbers)
# print(evens)
# <filter object at 0x7f7cf5580100>

# true나 false로만 되면 된다.
evens=filter(lambda x : x % 2 == 0 , numbers)
evens1=filter(lambda x : x % 2 != 0 , numbers)
print(type(evens))
print(list(evens))  # 필터링된 객체를 리스트(list) 타입으로 변환
print(tuple(evens1))
#넣고 나면 사라진다.

<class 'filter'>
[4, 2, 2, 2, 6]
(5, 5, 9, 9, 1)

###4

In [30]:
# map( function , iterable) : 변수들의 원소들을 함수의 아규먼트로 전달해서
#함수가 리턴해주는 값들로 이루어진 map 객체를 리턴.
squares=map(lambda x : x ** 2 , numbers)
print(squares)

print(list(squares))

<map object at 0x7c6605617070>
[16, 25, 4, 4, 4, 25, 81, 81, 1, 36]

### 5 -연습문제

* [-10 , 10 ] 범위의 난수 10개를 원소로 갖는 리스트
* 위의 리스트에서 음수들만 필터링한 리스트를 만들고 출력.
* 홀수들만 필터링한 리스트를 만들고 출력

In [31]:
a=[random.randrange(-10,11) for x in range(10)]
print(a)
minus=filter(lambda x : x < 0 , a)
print(list(minus))
odd=filter(lambda x : x % 2 != 0 , a)
print(list(odd))

[9, 8, -1, 10, 10, 5, -6, 8, -7, 5]
[-1, -6, -7]
[9, -1, 5, -7, 5]

* [0,100) 범위의 난수 10개를 갖는 리스트를 만듦
* 위의 리스트의 원소가 짝수이면 'even', 홀수이면 'odd'로 매핑한 리스트 출력
* 리스트의 원소가 [0,19] 이면 ' teen' , [20,59] 이면 'adult' , [60 이면 'senior'로 매핑한 리스트를 만들고 출력

In [69]:
b=[random.randrange(100) for _ in range(10)]
print(b)
evens=list(map(lambda x : 'even' if x % 2 ==0  else 'odd' , b))


# genders=['Male' if x==1 or x==3 else 'Female' for x in gender_codes]
age=list(map(  lambda x : 'teen' if x < 20  else ('adult' if x < 60 else 'senior') ,b))
print(evens)
print(age)

# dict={}
# for k , v in zip(b,age) :
#     dict.keys( k , v )
# print(dict)

[94, 25, 84, 99, 97, 46, 3, 67, 80, 52]

TypeError: 'list' object is not callable