<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/Python_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#dict

* 사전(dictionary) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)을 저장하는 데이터 타입.
    * lust , tuple : 인덱스(index)를 기반으로 값(value)들을 저장하는 데이터 타입.
    * dict 타입에서 키(key)의 역할은 list  , tuple 에서 인덱스와 비슷하게 , dict에 저장된 값 1개를 참조하기 위한 용도.
        * 키(key)는 중복된 값을 허용하지 않음.

In [164]:
students={100: '홍길동',101 : '오쌤',200:'Scott'}
print(type(students))
print(students)

<class 'dict'>
{100: '홍길동', 101: '오쌤', 200: 'Scott'}

In [165]:
students[100]

'홍길동'

##dict 함수 (메서드)

 * dict는 key를 직접 검색해야 하기에 인덱스와 다르게 찾기가 어렵기에 제공되는 메서드가 있다.

In [166]:
#dict.keys() : dict 객체가 가지고 있는 key들의 리스트를 반환.

students.keys()

dict_keys([100, 101, 200])

In [167]:
#dict.values() : dict 객체의 값(value)들의 리스트를 반환.
students.values()

dict_values(['홍길동', '오쌤', 'Scott'])

In [168]:
#dict.items() : (key,value) 튜플들의 리스트를 반환.
# students.items() :  dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott')]  -> 튜플((100, '홍길동'),(101, '오쌤'),(200, 'Scott'))  들을 원소로 갖는 리스트 []
students.items()

dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott')])

In [169]:
# dict.get(key) : key에 해당하는 value를 반환. dict[key]와 같은 기능.
students.get(101)

'오쌤'

`dict[key] = value  : 없으면 추가  있으면 변경 `
* key가 dict에 없을 때는 key : value 아이템을 dict에 추가  (append)
* key가 dict에 있을 때는 key에 해당하는 값을 새로운 값 value로 바꿈.

In [170]:
# 값이 없을 때
students[300]='홍길동'
print(students)

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

In [171]:
# 값이 있을 때
students[300] = '김길동'
print(students)

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '김길동'}

In [172]:
# students.pop(300) -- 한번사용했음

print(students)

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '김길동'}

#dict와 for 반복문

In [173]:
for k in students:
    print(k)

#for  - in 반복문에서 dict 객체를 사용하면 key들을 iteration함.

100
101
200
300

In [174]:
for k in students:
    print(k, ':' , students.get(k)) # students.get[k] == students.get(k)

100 : 홍길동
101 : 오쌤
200 : Scott
300 : 김길동

In [175]:
for k , v in students.items():
    print(k , ' - ' , v)      # 위와 같은 내용이지만 가독성이 더 좋다.

100  -  홍길동
101  -  오쌤
200  -  Scott
300  -  김길동

In [176]:
book = {'title' : '파이썬 200제','author' :  '장삼용' , 'publusher' : '정보문화사'}

print(book)

{'title': '파이썬 200제', 'author': '장삼용', 'publusher': '정보문화사'}

In [177]:
for k , v in book.items():
    print ( k ,' : ', v )

title  :  파이썬 200제
author  :  장삼용
publusher  :  정보문화사

#다양한 자료를 저장하는 dict

In [178]:
contact = { 'name' : '홍길동',
           'phone' : ['010-1234-5678','02-0000-5678'] ,
           'email' : {'personal' : 'hgd@naver.com', 'company' : 'hgd@itwill.com'} ,
           'no' : 1 }

In [179]:
for k , v in contact.items():
    print(k , ':' , v)

name : 홍길동
phone : ['010-1234-5678', '02-0000-5678']
email : {'personal': 'hgd@naver.com', 'company': 'hgd@itwill.com'}
no : 1

In [180]:
# contact.get('phone')
contact['phone']

['010-1234-5678', '02-0000-5678']

In [181]:
#contact.get('phone')[0]

contact['phone'][0]

'010-1234-5678'

In [182]:
contact['email']['company']

contact.get('email').get('company')

'hgd@itwill.com'

#dictionary comprehension

In [183]:
emp_no=[1001,1002,1003,1004]
emp_name=['scott','allen','king','오쌤']

emp={} # empty dict


for x , y  in zip(emp_no,emp_name):
    emp[x]=y
for k, v in emp.items():
    print( k , " : " , v)

1001  :  scott
1002  :  allen
1003  :  king
1004  :  오쌤

In [184]:
emp2={k : v for k,v in zip(emp_no,emp_name)}
for k ,v in  emp2.items() :
    print( k , ':' , v)

1001 : scott
1002 : allen
1003 : king
1004 : 오쌤

In [185]:
fruits = ['apple','banana','cherry','pineapple','watermellon','딸기']

#리스트 fruits에 있는 과일 이름을 key로 하고 , 문자열의 길이를 value로 하는 dict를 생성하고 출력
fruits_length={}

In [186]:
for k in fruits:
    fruits_length[k]=len(k)  # 생각지도 못함  저장해야하는건 k 한개였기때문에 y가 없는데 어찌하나 했는데 len(k) 네;
print (fruits_length)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermellon': 11, '딸기': 2}

In [187]:
fruit_length2={k : len(k) for k in fruits}
print(fruit_length2)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermellon': 11, '딸기': 2}