<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/Python_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object)**

* 객체 : 숫자(int,float), 문자열(str),논리값(True,False),list,dict,tuple, ...
* 함수에 아규먼트로 전달이 가능.
* 함수가 리턴해주는 값
* 함수는 변수에 할당할 수 있음.
* 함수의 아규먼트로 함수를 전달할 수 있음.
* 함수의 반환값으로 함수를 리턴할 수 있음.
* 함수 내부에서 또 다른 함수를 선언할 수 있음.

In [ ]:
x = 1 # 정수 1을 변수 x에 할당했다.

In [1]:
result = len('안녕')  # len() 함수는 정수를 리턴.
print(result)

2

In [7]:
def double(x):
    return 2 * x

In [9]:
result=double(5) # 함수 double을 호출하고 그 반환값을 변수 result에 저장
print(result)

10

In [10]:
print(double(3))

6

In [11]:
print(double) #double이라는 이름의 함수 객체를 문자열로 표현해서 출력
#함수를 호출한게 아님.

<function double at 0x7faf95539e40>

## 함수를 변수에 할당

In [13]:
twice=double    # 이 문장과   -<      함수 호출이 아님
                                    # function 객체를 twice에 저장한 것 .
                # result =double(5) 이 문장은 다른 문장임 .

In [15]:
print(twice)

<function double at 0x7faf95539e40>

In [16]:
print(twice(10))

20

##아규먼트로 함수를 전달받는 함수

In [19]:
def calculator(x,y,fn):
    result=fn(x,y)
    return result

fn = 함수 이기에

result=fn(x.y)가 가능  = 괄호가 되어있으니 함수가 가능.

In [21]:
def plus(x,y):
    return x+y

In [23]:
result=calculator(1,2,minus)   # minus <-  이건 함수자체를 호출한 것  이 함수를 쓸것이다. 라는걸 애초에 함수로 만들었음.
print(result)

-1

In [ ]:
def minus(x,y):
    return x-y

result=calculator(1,2,minus)   # minus <-  이건 함수자체를 호출한 것  이 함수를 쓸것이다. 라는걸 애초에 함수로 만들었음.
print(result)

In [25]:
def is_greater(x,y):
    return x > y

result = calculator(1,2,is_greater)
print(result)

False

## 내부 함수 , 함수를 리턴하는 함수

내부 함수 (inner function ) , 지역 함수 (local function) :
* 함수 내부에서 선언된 함수.
* 선언된 함수 내부에서만 호출할 수 있음.
* 선언된 함수 외부에서는 호출할 수 없음.
* 외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음!

In [39]:
def make_incrementor (n): #증가시키다.  # 전역 함수
    #내부 함수
    #지역 함수
    def add_n(x):
        return x + n   # x함수를 사용할 때 바깥쪽의 n을 사용할 수 있음. 이해감?
        # 긍께 함수 return x는 내부함수인데 n은 외부함수로 들어오는건데
        #x는 내부함수에서만 사용하는 것이고 n은 외부에서 사용되는걸
        # 짭죠 , n은 내부각각에서 다 사용이 가능.
    #함수 객체를 리턴.
    return add_n    # <- 리턴을 함수이름만 리턴함 #바깥에서 호출할 수 있어짐.(?)

In [27]:
add_n(10)   #<-  지역함수기때문

NameError: name 'add_n' is not defined

In [40]:
increase_by_2=make_incrementor(2)

In [44]:
print(increase_by_2)
result=increase_by_2(10)
print(result)

<function make_incrementor.<locals>.add_n at 0x7faf947fe660>
12

In [45]:
plus_10=make_incrementor(10)

In [46]:
print(plus_10(10))

20

In [50]:
print(make_incrementor(5)(10))

15

In [62]:
def make_power(n):
    def test(x):

        return x**n
    return test

In [63]:
square =make_power(2)
cube =make_power(3)

print(square(5))
print(cube(2))

25
8

In [65]:
def make_operator(op):
    if op=='add':
        def calc(x,y):
            return x+y
    elif op=='mul':
        def calc(x,y):
            return x*y
    return calc

In [67]:
def make_operator2(op):
    def calc(x,y):
        if op=='add':
            return x+y
        elif op=='mul':
            return x*y
    return calc

In [68]:
adder = make_operator("add")
multiplier = make_operator("mul")
adder2 = make_operator2("add")
multiplier2 = make_operator2("mul")


print(adder2(3, 4))      # 👉 7
print(multiplier2(3, 4)) # 👉 12

7
12

In [108]:
def make_filter(conditon):
    def filter_list(lst):
        for x in lst:

        if conditon=='even':
           if lst %2==0:
            return lst
        if conditon=='odd':
           if lst %2==1:
            return lst
        if conditon=='positive':
           if lst < 0:
            return lst

        if conditon=='negative':
           if lst > 0:
            return lst

    return filter_list

In [109]:
a=make_filter('even')
print(a(4))

4

In [110]:
even_filter = make_filter("even")
print(even_filter([1, 2, 3, 4, 5]))     # 👉 [2, 4]

neg_filter = make_filter("negative")
print(neg_filter([3, -1, -5, 2, 0]))    # 👉 [-1, -5]

TypeError: unsupported operand type(s) for %: 'list' and 'int'