<a href="https://colab.research.google.com/github/Appseung/Oracle/blob/main/%EB%AC%B8%EC%A0%9C%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

    사용자로부터 세 개의 정수를 입력받은 후, 이 중 가장 큰 수를 출력하되, 같은 수가 두 개 이상일 경우 '동일값 존재'라고 출력하시오.
    (필요 함수 : input(), print())
    (필수 조건 : 조건문, 중복 비교)

In [33]:
print("정수를 3개 입력해주세요")
정수=[]
print(정수)
for x in range(3):

    a=int(input("작성하고 엔터 \n"))

    정수.append(a)
max_정수=정수[0]
중복정수=정수[0]
for y in range(3):
    # 가장 큰수 출력
    if 정수[y]==중복정수:
        중복정수=True
    else:

        if 정수[y]>max_정수:
            중복정수=False


            max_정수 =정수[y]
if 중복정수==True:
    print("동일값 존재")
else :
    print(" 가장 큰 수는 ", max_정수)

정수를 3개 입력해주세요
[]
작성하고 엔터
5
작성하고 엔터
2
작성하고 엔터
5
동일값 존재

In [32]:
#chat gpt 정답

print("정수를 3개 입력해주세요")
정수 = []
for i in range(3):
    a = int(input("작성하고 엔터 \n"))
    정수.append(a)

# 가장 큰 수 찾기
최댓값 = max(정수)

# 동일한 수가 2개 이상인지 확인
if 정수.count(최댓값) >= 2:
    print("동일값 존재")
else:
    print("가장 큰 수는", 최댓값)

정수를 3개 입력해주세요
작성하고 엔터
5
작성하고 엔터
3
작성하고 엔터
5
동일값 존재

#2

    사용자가 입력한 문자열이 **대칭(Palindrome)**인지 아닌지 확인하는 프로그램을 작성하시오.
    단, 대소문자를 구분하지 않고, 공백은 무시한다.
    (필요 함수 : input(), str 메서드)
    (필수 조건 : 문자열 전처리, 조건비교)

In [54]:
#1. 문자열 입력
text=input("문자열을 입력해주세요")
print("입력한 문자열은 : ",text)
#2. 대소문자 구분 안함

text=text.lower()
print("소문자로 변환한 문자열은 : ",text)

#3. 공백 무시
text=text.replace(' ','')
print("공백제거된 문자열",text)
#4. 대칭인지 아닌지 확인

if text==text[::-1]:

    print("대칭")
else:
    print("대칭아님")

문자열을 입력해주세요안ㅋ안ㅋ ㅋ안ㅋ안
입력한 문자열은 :  안ㅋ안ㅋ ㅋ안ㅋ안
소문자로 변환한 문자열은 :  안ㅋ안ㅋ ㅋ안ㅋ안
공백제거된 문자열 안ㅋ안ㅋㅋ안ㅋ안
대칭

 #3


    `사용자로부터 0~100 사이의 점수를 입력받아 **학점(A~F)
    **을 출력하되,
    150, 'abc' 등 비정상 입력에는 "잘못된 입력입니다"를 출력하도록 예외처리를 포함하시오.
    (필요 함수 : input(), try-except)
    (필수 조건 : 범위 조건 검사 + 예외 처리)

In [66]:
try :
    score=int(input("점수를 입력해주세요"))
    if score>100 or score<0:
        print("잘못된 입력입니다")
    else:
        if score>=90:
            print("A")
        elif score>=80:
            print("B")
        elif score>=70:
            print("C")
        elif score>=60:
            print("D")
        else :
            print("F")

except:
    print("잘못된 입력입니다")

점수를 입력해주세요100
A

#4


     1부터 100 사이의 정수 중, 3의 배수이면서 5의 배수는 제외하고 출력하는 프로그램을 작성하시오.
    (필요 함수 : print())
    (필수 조건 : 조건문 + 논리연산자 활용)

In [78]:
for x in range(1,101):
    if x % 3 ==0:
        if x % 5 != 0:
            print(x,end=' ')

3 6 9 12 18 21 24 27 33 36 39 42 48 51 54 57 63 66 69 72 78 81 84 87 93 96 99

In [80]:
for x in range(1,101):
    if x % 3 ==0 and x % 5 != 0:
        print(x,end=' ')

3 6 9 12 18 21 24 27 33 36 39 42 48 51 54 57 63 66 69 72 78 81 84 87 93 96 99

In [82]:
a=[x for x in range(1,101) if x % 3 ==0 and x % 5 != 0]
print(a)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

 #5

    사용자가 입력한 문장에 포함된 각 알파벳의 빈도수를 딕셔너리 형태로 출력하되, 알파벳 이외 문자는 무시한다.
    (필요 함수 : dict 관련 함수, input())
    (필수 조건 : 알파벳 필터링 + 카운트)

In [102]:
text='appl0122e'

result={}
text.isalpha()
for x in text:
    if x.isalpha():
        # a p p l e 를 돌아가며 입력
        if x in result: # 시작은 빈칸
            result[x]+=1
        else:  # 시작은 result[a]= 1 , 다음부터는 a는 없으니 p로 가고 p는 2번째부턴 있으니 +1
            result[x]=1
print(result)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

#6


    세 개의 수를 입력받아,

    모두 짝수면 "모두 짝수"

    모두 홀수면 "모두 홀수"

    아니면 "혼합"을 출력하시오.
    (필요 함수 : input(), print())
    (필수 조건 : 조건문 + 나머지 연산자)

In [105]:
# a=int(input("첫번째 정수를 입력해주세요"))
# b=int(input("두번째 정수를 입력해주세요"))
# c=int(input("세번째 정수를 입력해주세요"))

#gpt 답안
a, b, c = [int(input(f"{i+1}번째 정수를 입력해주세요: ")) for i in range(3)]


if a % 2 ==0 and b % 2 ==0 and c % 2 ==0:
    print("모두 짝수")
elif a % 2 !=0 and b % 2 !=0 and c % 2 !=0:
    print("모두 홀수")
else :
    print("혼합")

1번째 정수를 입력해주세요: 10
2번째 정수를 입력해주세요: 50
3번째 정수를 입력해주세요: 20
모두 짝수

In [107]:
#모범 답안

nums = [int(input(f"{i+1}번째 정수를 입력해주세요: ")) for i in range(3)]
# 리스트에 3개를 넣는다.
짝수개수 = sum(1 for x in nums if x % 2 == 0)

if 짝수개수 == 3:
    print("모두 짝수")
elif 짝수개수 == 0:
    print("모두 홀수")
else:
    print("혼합")

1번째 정수를 입력해주세요: 3
2번째 정수를 입력해주세요: 3
3번째 정수를 입력해주세요: 5
모두 홀수

#7

    사용자로부터 6자리 정수를 입력받아,
    앞 3자리와 뒤 3자리의 합이 같으면 "럭키 넘버"라고 출력하시오.
    (필요 함수 : input(), print())
    (필수 조건 : 문자열 슬라이싱 + 정수 변환)

In [135]:
six_num=input(f"6자리 정수를 입력하세요 : ")
print(f"입력한 값은 : {six_num} 입니다")

## int로 변환해야함.


# if sum(six_num[range(0:2)]) == sum(syx_num[range[3:5]]):
#     print("럭키 넘버")
# else :
#     print("아닙니다")

6자리 정수를 입력하세요 : 15151515
입력한 값은 : 15151515 입니다

AttributeError: 'str' object has no attribute 'sum'

#8

    정수 n을 입력받아,

    소수인지 판별하고

    소수가 아니면 그 수의 약수를 모두 출력하시오.
    (필요 함수 : input(), print())
    (필수 조건 : 반복문 + 조건문)

#9

    문자열을 입력받아,
    연속해서 중복된 문자는 하나만 남기고 제거한 결과를 출력하시오.
    예: 'aaabbcdd' → 'abcd'
    (필요 함수 : input(), print())
    (필수 조건 : 문자 비교 + 새로운 문자열 생성)

#10

    사용자가 입력한 주민등록번호를 이용해
    생년월일과 성별을 출력하시오.
    예: '990101-1234567' → 1999년 1월 1일, 남자
    (필요 함수 : input(), print())
    (필수 조건 : 슬라이싱 + 조건 분기)

#11

    사용자 리스트에서

    중복을 제거하고

    문자열 길이를 기준으로 정렬한 결과를 출력하시오.
    (필요 함수 : set(), sorted(), key=len)
    (필수 조건 : 집합 변환 + 정렬 조건)

#12

    입력된 텍스트에서
    가장 많이 등장한 알파벳을 출력하시오.
    대소문자는 구분하지 않음.
    (필요 함수 : input(), lower(), dict)
    (필수 조건 : 카운트 + 최대값 찾기)

#13

    사용자가 입력한 세 문장을

    한 줄로 합쳐 출력하되,

    각 문장은 반드시 '.'으로 끝나야 함,
    그렇지 않으면 "형식 오류"를 출력하시오.
    (필요 함수 : input(), print())
    (필수 조건 : 반복 + 조건 확인)

#14
    2차원 리스트로 표현된 두 행렬을 입력받아,
    덧셈 연산을 수행하고 결과를 출력하시오.
    (필요 함수 : input(), print())
    (필수 조건 : 중첩 반복문 + zip 사용 가능)

#15
    사용자가 입력한 정수가

    10보다 작으면 '작다'

    10~20 사이면 '중간'

    20보다 크면 '크다'
    를 출력하는 프로그램을 작성하시오.
    (필요 함수 : input(), if)
    (필수 조건 : 범위 조건 분기)

#16
    사용자 입력 정수 리스트에서

    짝수는 제곱, 홀수는 세제곱하여 출력하시오.
    (필요 함수 : input(), print())
    (필수 조건 : 리스트 내포 + 조건문)

#17

    문자열에서 숫자만 추출하여
    그 합계를 출력하시오.
    예: 'ab12cd34' → 46
    (필요 함수 : isdigit(), sum())
    (필수 조건 : 반복 + 형 변환)

#18

    두 문자열이 **애너그램(anagram)**인지 판별하시오.
    (필요 함수 : sorted())
    (필수 조건 : 정렬 후 비교)

#19

    괄호가 포함된 문자열에서

    열린 괄호와 닫힌 괄호의 수를 각각 세고,

    개수가 같으면 "올바른 수식"이라 출력하시오.
    (필요 함수 : count())
    (필수 조건 : 문자열 처리)

#20
    사용자가 입력한 수가
    **완전수(perfect number)**인지 판별하시오.
    (완전수란 자신을 제외한 약수의 합이 자기 자신과 같은 수)
    (필요 함수 : input())
    (필수 조건 : 약수 구하기 + 합 비교)